spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/springcloud-lab/config-test2
          search-paths: config
          username: springcloud-lab
          password: 98765qwer!
#          basedir: /Users/zhanglong/Desktop/git-repo
  application:
    name: config-server

  rabbitmq:
    host: localhost
    port: 5672
    username: config-server
    password: config-server


#  security:
#    user:
#      name: hello
#      password: 123456

server:
  port: 7000


eureka:
  client:
    registerWithEureka: true
    fetchRegistry: true
    service-url:
      defaultZone: http://node1:10097/eureka/

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    shutdown:
      enabled: true